<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="jotForm Automation">
  <test name="Functional Test">
    <classes>
      <class name="com.Demo.TestCases.VerifyCourseRegistrationForm"/>>
    </classes>
  </test> <!-- Functional Test -->
</suite> <!-- jotForm Automation -->
